<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Admin Fragmentos</title>
  </head>
  <body>
    <div th:fragment="footer-admin">
      <footer
        class="bg-mirage-dark text-pampas/60 py-6 px-6 text-center text-[10px] border-t border-white/5"
        style="background-color: #0F161C; color: rgba(250,247,242,0.6);"
      >
        <p>
          2026 &copy; Montclair Grand Hotel. Panel de Administración. Todos los
          derechos reservados.
        </p>
      </footer>
    </div>
  </body>
</html>
